@charset "gb2312";

/* CSS Document */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
ttop,
tr,
th,
td {
	margin: 0;
	padding: 0;
}

body {
	color: #333;
	font-size: 14px;
	font-family: ΢���ź�, Microsoft YaHei, ����;
	background: #f0f0f0 url(../images/bg.png) fixed center top no-repeat;
}

em {
	font-style: normal;
}

img {
	border: medium none;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #379BE7;
}

em {
	font-style: normal;
}

li {
	list-style: none;
}

input {
	padding: 0;
	margin: 0;
}

i {
	font-style: normal;
}

.ft14 {
	font-size: 14px;
}

.ft16 {
	font-size: 16px;
}

.ft18 {
	font-size: 18px;
}

.t-cet {
	text-align: center;
}

.mytj {
	display: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.wrap {
	width: 1200px;
	margin: 30px auto 40px;
}

.shadow {
	border: 1px #ddd solid;
	box-sizing: border-box;
	/*box-shadow:1px 1px 5px -1px rgba(0,0,0,0.1);*/
}

.safeset i,
.coun a,
.stoch a,
.bg-img,
.menu a span i,
#bank li span,
#bind ul li span,
.sc ul li span,
.vip a,
.choose li.checked i,
.menu a span,
.sj-hover,
.st-hover,
.paystyle ul li span,
.main-cz a span,
.examinfo a.addexam i,
.t-addexam,
.cont-exam dl dt i,
ul.jf-lq li i,
ul.jf-dh li i,
.choose li b,
.success span,
.fail span,
.wx-follow i,
.notes-box .up-section,
.notes-box .bottom-section a.delete {
	background: url(../images/user.png) no-repeat;
}

.select:before {
	background: url(../images/user.png) no-repeat;
}

table.mingxi td.time::before {
	background: url(../images/user.png) no-repeat;
}

.True:after {
	background: url(../images/user.png) no-repeat;
}

.IsPaymentTrue:after {
	background: url(../images/user.png) no-repeat;
}


/* ͷ�� */

.head {
	position: relative;
	z-index: 1;
	height: 70px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.head-box {
	width: 1200px;
	margin: auto;
}

.head-l {
	float: left;
}

.head-l span.logo {
	float: left;
	margin-top: 20px;
}

.head-l span.logo-t {
	float: left;
	margin: 25px 0 0 15px;
	padding-left: 15px;
	font: 18px/20px "Microsoft YaHei";
	color: #666;
	border-left: 1px #aaa solid;
}

.head-r {
	float: right;
	font: 14px/70px "Microsoft YaHei";
	color: #aaa;
}

.head-r a {
	padding: 8px;
	font: 14px/70px "Microsoft YaHei";
	color: #666;
}

.head-r a:hover {
	font-weight: bold;
	color: #379be7;
}


/* �ײ� */

.footer {
	position: relative;
	z-index: 1;
	padding-bottom: 30px;
	width: 100%;
	background: #fff;
	box-shadow: 0 -6px 5px -6px rgba(0, 0, 0, 0.1);
}

.footer a {
	color: #333;
}

.footer a:hover {
	color: #000;
}

.footer-box {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	font: 12px/2 "Microsoft YaHei";
	color: #666;
}

.footer-box p {
	padding: 50px 0 6px 0;
	margin-left: -15px;
}

.footer-box p a {
	padding: 0;
	margin-right: 13px;
	color: #333;
	padding-left: 13px;
}

.bg {
	width: 100%;
	overflow: hidden;
}


/* ----------����������Ϣ---------- */

.top {
	position: relative;
	height: 150px;
	width: 1200px;
	margin-bottom: 30px;
	background: url(../images/top-bg.png) no-repeat;
	overflow: hidden;
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.0)
}

.touxiang {
	position: relative;
	float: left;
	width: 250px;
	height: 150px;
}

.touxiang span.tx {
	display: block;
	height: 100px;
	width: 100px;
	margin: 25px 0 0 100px;
	border-radius: 50%;
}

.touxiang span.tx img {
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.touxiang span.name {
	position: absolute;
	left: 250px;
	top: 30px;
	padding-right: 30px;
	display: block;
	margin-top: 5px;
	text-align: center;
	font-size: 22px;
}

.vip {
	display: block;
	position: absolute;
	top: 0px;
	right: 0;
}

.vip a.yes-v {
	display: block;
	width: 30px;
	height: 30px;
	background-position: -300px -180px;
}

.vip a.no-v {
	display: block;
	width: 30px;
	height: 30px;
	background-position: -330px -180px;
}

.vip p {
	display: none;
	position: absolute;
	z-index: 99;
	width: 180px;
	left: 30px;
	top: 0px;
	padding: 8px 0;
	text-align: center;
	font: 12px/1 "Microsoft YaHei";
	background: rgba(238, 238, 238, .7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#46ffffff, endColorstr=#46ffffff);
	border-radius: 5px;
}

.xinxi {
	position: absolute;
	bottom: 15px;
	left: 250px;
	width: 840px;
	height: 70px;
	/*background:rgba(255,255,255,0.4); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff);*/
}

.xinxi .xx-l {
	float: left;
	height: 40px;
	margin: 10px 0 0 0;
	font: 12px/18px "Microsoft YaHei";
	color: #666;
}

.xinxi .xx-l span.text {
	height: 18px;
}

.xinxi .xx-l span.text a {
	color: #666;
}

.xinxi .xx-l span.text a sup {
	color: #ff1317;
	font-weight: bold;
}

.xinxi .xx-l .zlwc {
	margin-top: 4px;
}

.xinxi .xx-l .zlwc span.bar {
	display: inline-block;
	margin: 0 4px;
	width: 100px;
	height: 8px;
	background: #ddd;
	border-radius: 3px;
}

.xinxi .xx-l .zlwc span.bar-top {
	display: block;
	height: 8px;
	width: 20%;
	background: #ff880a;
	border-radius: 3px;
}

.xinxi .xx-r {
	float: right;
	height: 80px;
	margin: -25px 0 0 0;
}

.xinxi .xx-r ul {
	height: 50px;
	margin-bottom: 5px;
}

.xinxi .xx-r ul li {
	float: left;
	margin-left: 25px;
	width: 80px;
	text-align: center;
}

.xinxi .xx-r ul li span {
	display: block;
	height: 28px;
	font: 22px/22px "Microsoft YaHei";
	color: #ff880a;
}

.xinxi .xx-r ul li a {
	display: block;
	height: 18px;
	font: 14px/18px "Microsoft YaHei";
	color: #333;
}

.xinxi .xx-r ul li a:hover {
	text-decoration: underline;
}

.xinxi .xx-r span.xx-r-b {
	margin-left: 37px;
}

.xinxi .xx-r span.xx-r-b a {
	margin-right: 5px;
	padding: 1px 8px;
	color: #999;
	font-size: 12px;
	background: #fafafa;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.xinxi .xx-r span.xx-r-b a:hover {
	color: #379BE7;
	border-color: #379BE7;
}


/* ----------����---------- */

.menu {
	float: left;
	width: 200px;
	min-height: 540px;
	font-size: 16px;
	background: #fff;
	*width: 198px;
}

.menu a {
	display: block;
	height: 60px;
	color: #333;
	overflow: hidden;
}

.menu a:hover {
	color: #379be7;
	background: #f9f9f9;
}

.menu a.current {
	color: #379be7;
	background: #f5f5f5;
	border-left: 3px #ff880a solid;
}

.menu a span {
	position: relative;
	display: block;
	height: 20px;
	width: 64px;
	margin: 20px auto 0;
	padding-left: 36px;
}

.menu a span i {
	position: absolute;
	right: -20px;
	top: -8px;
	width: 23px;
	height: 12px;
	background-position: -360px -180px;
}

.menu a span.icon-0 {
	background-position: -315px -345px;
}

.menu a span.icon-1 {
	background-position: -315px -365px;
}

.menu a span.icon-2 {
	background-position: -315px -385px;
}

.menu a span.icon-3 {
	background-position: -315px -405px;
}

.menu a span.icon-4 {
	background-position: -315px -425px;
}

.menu a span.icon-5 {
	background-position: -315px -445px;
}

.menu a span.icon-6 {
	background-position: -315px -465px;
}

.menu a span.icon-7 {
	background-position: -315px -485px;
}

.menu a span.icon-8 {
	background-position: -315px -505px;
}

.menu a span.icon-9 {
	background-position: -315px -525px;
}

.menu a span.icon-10 {
	background-position: -315px -545px;
}

.box-a {
	float: left;
	width: 970px;
	margin-left: 30px;
}

.box-b {
	float: left;
	width: 970px;
	*width: 968px;
	min-height: 540px;
	margin-left: 30px;
	background: #fff;
}

.submenu {
	width: 100%;
	height: 50px;
	background: #f5f5f5;
}

.submenu a {
	float: left;
	width: 120px;
	height: 50px;
	font: 16px/50px "Microsoft YaHei";
	color: #333;
	text-align: center;
}

.submenu a.current {
	color: #379be7;
	font-weight: bold;
	background: #fff;
}


/* ----------��ҳ---------- */


/* ��ֵ��� */

.main-cz {
	width: 970px;
	height: 120px;
	padding: 10px 0px;
	background: #fff;
}

.main-cz a {
	float: left;
	width: 23%;
	padding: 0 5%;
	height: 99px;
	border-right: 1px #ddd dashed;
}

.main-cz a span {
	float: left;
	height: 99px;
	width: 90px;
}

.main-cz a span.cz-0 {
	background-position: -160px -685px;
}

.main-cz a span.cz-1 {
	background-position: -160px -785px;
}

.main-cz a span.cz-2 {
	background-position: -160px -885px;
}

.main-cz strong {
	display: inline-block;
	margin-top: 26px;
	font: 18px/1 "Microsoft YaHei";
	color: #333;
}

.main-cz a:hover strong {
	color: #379BE7;
}

.main-cz p {
	margin-top: 13px;
	font: 12px/1 "Microsoft YaHei";
	color: #666;
}

.cont {
	float: left;
	width: 475px;
	height: 255px;
	margin: 20px 20px 0 0;
	background: #fff;
}

.cont span.t-t {
	position: relative;
	display: block;
	padding-left: 10px;
	margin: 15px 0 9px 10px;
	height: 16px;
	font: bold 16px/16px "Microsoft YaHei";
	color: #666;
	border-left: #F03 solid 3px;
}

.more {
	position: absolute;
	right: 10px;
	font: 14px/16px "Microsoft YaHei";
	color: #999;
}

.cont.c2,
.cont.c4 {
	margin-right: 0;
}

.wzjl {
	margin-left: 30px;
	width: 620px;
}

.sjjl {
	margin-top: 30px;
	width: 470px;
}

.stjl {
	margin: 30px 0 0 30px;
	width: 470px;
}


/*����������ҳ*/

.pracl-falnum {
	width: 970px;
	overflow: hidden;
	background: #fff;
	margin: 15px 0;
}

.pracl-falnum ul {
	width: 972px;
}

.pracl-falnum li {
	width: 161px;
	height: 120px;
	overflow: hidden;
	float: left;
	text-align: center;
	border-right: 1px solid #F2F2F2;
}

.pracl-falnum li.coun a {
	background-position: -287px -1800px;
}

.pracl-falnum li.coun:hover a {
	background-position: -287px -1900px;
}

.pracl-falnum li.stoch a {
	background-position: -287px -2000px;
}

.pracl-falnum li.stoch:hover a {
	background-position: -287px -2100px;
}

.pracl-falnum li a {
	height: 97px;
	display: block;
	font-size: 14px;
	padding-top: 23px;
}

.pracl-falnum li a:hover,
.pracl-falnum li a:hover p {
	background-color: #f7941d;
	color: #FFF;
}

.pracl-falnum li em {
	height: 45px;
	font-size: 32px;
	display: inline-block;
}

.pracl-falnum li b {
	height: 45px;
	font-weight: normal;
	font-size: 18px;
	line-height: 45px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90%;
}

.fa-color a {
	color: #e06607;
}

.pracl-falnum li p {
	color: #333;
}

.le-module {
	width: 970px;
	background: #fff;
	overflow: hidden;
	min-height: 398px;
}

.le-module ul {
	overflow: hidden;
	margin: 0 -1px -1px 0;
}

.le-module li {
	width: 262px;
	line-height: 30px;
	float: left;
	/*margin: 0px 20px 30px 0px;*/
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #f2f2f2;
	margin: -1px -1px 0 0;
	padding: 30px 30px 40px;
	text-align: center;
	overflow: hidden;
}

.le-module li:hover {
	background: #fafafa;
}

.le-module li a {
	padding: 10px 25px;
	border-radius: 3px;
	background: #ef7711;
	color: #FFF !important;
	font-size: 14px;
}

.le-module li a:hover {
	background: #e06607;
	color: #FFF;
}

.le-module li p {
	height: 45px;
	line-height: 22px;
	color: #999;
	margin: 7px 0px 15px;
	overflow: hidden;
	font-size: 14px;
}

.le-module li input {
	width: 220px;
	height: 32px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	margin: 9px 0px 25px;
}


/* ���¼�¼ */

ul.wz {
	margin: 10px 30px 0;
}

ul.wz li {
	height: 40px;
	font: 14px/40px "Microsoft YaHei";
}

ul.wz li a.title {
	float: left;
	width: 75%;
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.wz li a:hover {
	text-decoration: underline;
}

ul.wz span.time {
	float: right;
	color: #999;
}


/* �Ծ������¼ */

ul.t-list {
	margin-top: 15px;
}

ul.t-list li {
	padding: 0px 30px;
}

ul.t-list li a {
	display: block;
	width: 100%;
	height: 34px;
	font: 14px/34px "Microsoft YaHei";
	color: #333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul.t-list li p {
	display: none;
	font: 12px/20px "Microsoft YaHei";
	color: #999;
}

ul.t-list li p span {
	margin-right: 12px;
}

ul.t-list li.st-hover {
	padding: 0px 30px 0 80px;
	height: 60px;
	background-color: #f5fafc;
	background-position: -315px -640px;
}

ul.t-list li.st-hover a {
	color: #379be7;
}

.main {
	padding: 30px;
}

dl.step {
	margin-bottom: 30px;
}

dl.step dt {
	margin-bottom: 7px;
	padding-bottom: 7px;
	border-bottom: 1px #e5e5e5 dashed;
}

dl.step dt span {
	float: left;
	padding: 0 20px 0 12px;
	font: 16px/1 "Microsoft YaHei";
	border-left: 3px #379be7 solid;
	background: #fff;
}

.tips {
	font: 12px /20px "����";
	color: #666;
}

.tips a {
	color: #999;
	text-decoration: underline;
}

.tips em {
	color: #ff1213;
}

.exam-list {
	padding: 0;
	margin-left: -420px;
}

.pay-tips {
	width: 320px;
	margin-left: -190px;
}

.pay-tips table {
	margin-top: 10px;
	font-size: 16px;
}

.pay-tips table font {
	font-size: 12px;
	color: #666;
}

.pay-btn {
	padding: 6px 10px;
	margin: 0 10px;
	border-radius: 3px;
	width: 100px;
	background: #36A306;
	color: #FFF;
	font: 600 14px/20px "arial";
	border: medium none;
	text-align: center;
	cursor: pointer;
}

.red-bg {
	background: #cf3434;
}

.success,
.fail {
	margin: 0;
	width: 340px;
}

.success span,
.fail span {
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

.success span {
	background-position: 0 -1910px;
}

.fail span {
	background-position: -70px -1910px;
}

.success p,
.fail p {
	text-align: center;
	margin-top: 12px;
}

.finish-btn {
	padding: 6px 10px;
	margin: 0 10px;
	border-radius: 3px;
	width: 100px;
	background: #36A306;
	color: #FFF;
	font: 600 14px/20px "arial";
	border: medium none;
	text-align: center;
	cursor: pointer;
}

.send {
	margin-top: 20px;
}

.wx-follow {
	float: left;
	width: 200px;
	margin-top: 150px;
}

.wx-follow i {
	display: block;
	margin: 0 auto;
	height: 124px;
	width: 124px;
	background-position: -320px -730px;
}

.wx-follow p {
	text-align: center;
}

.follow {
	display: block;
	padding: 6px 10px;
	margin: auto;
}


/* checkbox */

.choose li {
	position: relative;
	border: 1px solid #ddd;
	cursor: pointer;
}

.choose li.checked {
	position: relative;
	border: 1px solid #ff880a;
}

.choose li.checked i {
	width: 14px;
	height: 14px;
	position: absolute;
	right: 0;
	bottom: 0;
	_right: -1px;
	_bottom: -1px;
	background-position: -265px -205px;
}

.choose li b {
	position: absolute;
	top: -1px;
	right: 5px;
	width: 16px;
	height: 24px;
	background-position: -384px -180px;
}


/* ----------�˻���ֵ---------- */


/* ��ֵ��� */

.amount span {
	display: block;
	margin: 30px 0 20px 0;
	width: 262px;
	text-align: center;
	font: 18px "Microsoft YaHei";
	color: #666;
}

.amount span input {
	margin: 0 10px;
	width: 140px;
	height: 40px;
	font: 24px "Microsoft YaHei";
	color: #ffa52b;
	text-align: center;
	border: 1px #ddd solid;
}


/* ��ֵ��ʽ */

.paystyle {
	margin-top: 40px;
}

.paystyle ul {
	margin-left: 10px;
	width: 920px;
}

.paystyle ul li {
	float: left;
	margin-right: 30px;
	width: 198px;
	height: 238px;
	border: 1px #ddd solid;
	cursor: pointer;
}

.paystyle ul li:hover {
	border-color: #ffa52b;
}

.paystyle ul li span {
	display: block;
	margin: 50px auto 40px;
	height: 70px;
	width: 150px;
}

.paystyle ul li span.zfb {
	background-position: -165px -345px;
}

.paystyle ul li span.wx {
	background-position: -165px -415px;
}

.paystyle ul li span.yl {
	background-position: -165px -485px;
}

.paystyle ul li span.hk {
	background-position: -165px -555px;
}

.paystyle ul li span.ye {
	background: none;
}

#ContentPlaceHolder1_btnZhiFuBao,
#ContentPlaceHolder1_btnZFB,
.paystyle ul li a {
	display: block;
	margin: auto;
	width: 124px;
	height: 32px;
	font: 16px/32px "Microsoft YaHei";
	color: #666;
	text-align: center;
	border: 1px #ddd solid;
	border-radius: 5px;
}

#ContentPlaceHolder1_btnZhiFuBao:hover,
#ContentPlaceHolder1_btnZFB:hover,
.paystyle ul li:hover a {
	border-color: #ffa52b;
	background: #ffa52b;
	color: #fff;
}

#ContentPlaceHolder1_btnZhiFuBao,
#ContentPlaceHolder1_btnZFB {
	height: 34px;
	width: 126px;
	background: #fff;
}


/* ----------��Ա��---------- */


/* ��Ա���� */

.vip-time {
	margin: 20px 0 20px 15px;
	width: 900px;
}

.vip-time li {
	float: left;
	padding-top: 15px;
	margin-right: 20px;
	width: 128px;
	height: 73px;
}

.vip-time li p.price {
	font: 24px/40px "Microsoft YaHei";
	color: #999;
	text-align: center;
}

.vip-time li p.time {
	font: 14px/1 "Microsoft YaHei";
	color: #999;
	text-align: center;
}


/* ��Ա��Ȩ */

.vip-function {
	margin-top: 30px;
}

.function-t {
	height: 16px;
	background: url(../images/t-bg.png);
}

.function-t span {
	display: block;
	margin: auto;
	width: 250px;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	color: #333;
	background: #fff;
}

.vip-function ul {
	margin: 20px 0px;
	padding: 15px 0px;
	background: #f5f5f5;
}

.vip-function ul li {
	float: left;
	width: 134px;
	margin-left: 15px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	padding: 20px 0px 5px;
}

.vip-function ul li h3 {
	font: 18px/1.5 "Microsoft YaHei";
	text-align: center;
	color: #333;
}

.vip-function ul li:hover h3 {
	-webkit-animation: text-move 1.2s 1 both;
	animation: text-move 1.2s 1 both;
}

.vip-function ul li p {
	font: 12px/1.5 "Microsoft YaHei";
	text-align: center;
	color: #999;
}

.vip-function ul li:hover p {
	-webkit-animation: text-move2 1s 1 both;
	animation: text-move2 1s 1 both;
}

.vip-function ul li span {
	position: relative;
	display: block;
	height: 90px;
	width: 90px;
	margin: 0 auto;
	border-radius: 50%;
}

.vip-function ul li span i.i1 {
	width: 90px;
	height: 90px;
	display: block;
	background: url(../images/vip-f.png);
}

.vip-function ul li:hover span i.i1 {
	-webkit-animation: comboBottom-1 1s 1;
	animation: comboBottom-1 1s 1
}

.vip-function ul li:hover span i.i2 {
	-webkit-animation: comboBottom-2 1s 1;
	animation: comboBottom-2 1s 1
}

.vip-function ul li.function-0 span i.i1 {
	background-position: 0 0;
}

.vip-function ul li.function-1 span i.i1 {
	background-position: -90px 0;
}

.vip-function ul li.function-2 span i.i1 {
	background-position: -180px 0;
}

.vip-function ul li.function-3 span i.i1 {
	background-position: -270px 0;
}

.vip-function ul li.function-4 span i.i1 {
	background-position: -360px 0;
}

.vip-function ul li.function-5 span i.i1 {
	background-position: -450px 0;
}

.vip-function ul li span i.i2 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 90px;
	height: 50px;
	display: block;
	background: url(../images/vip-f.png);
}

.vip-function ul li.function-0 span i.i2 {
	background-position: 0 -90px;
}

.vip-function ul li.function-1 span i.i2 {
	background-position: -90px -90px;
}

.vip-function ul li.function-2 span i.i2 {
	background-position: -180px -90px;
}

.vip-function ul li.function-3 span i.i2 {
	background-position: -270px -90px;
}

.vip-function ul li.function-4 span i.i2 {
	background-position: -360px -90px;
}

.vip-function ul li.function-5 span i.i2 {
	background-position: -450px -90px;
}

@-webkit-keyframes text-move {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	50% {
		-webkit-transform: scale(1.1) translateY(-5px);
		transform: scale(1.1) translateY(-5px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes text-move {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	50% {
		-webkit-transform: scale(1.1) translateY(-5px);
		transform: scale(1.1) translateY(-5px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@-webkit-keyframes text-move2 {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	50% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes text-move2 {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
	50% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@-webkit-keyframes comboBottom-1 {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-webkit-transform: translateY(-5px) scale(1.02);
		transform: translateY(-5px) scale(1.02)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes comboBottom-1 {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-webkit-transform: translateY(-5px) scale(1.02);
		transform: translateY(-5px) scale(1.02)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes comboBottom-2 {
	0% {
		-webkit-transform: translateY(20px) scale(0.9);
		transform: translateY(20px) scale(0.9)
	}
	50% {
		-webkit-transform: scale(1.02);
		transform: scale(1.02)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes comboBottom-2 {
	0% {
		-webkit-transform: translateY(20px) scale(0.9);
		transform: translateY(20px) scale(0.9)
	}
	50% {
		-webkit-transform: scale(1.02);
		transform: scale(1.02)
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}


/* ���֧�� */

.paystyle ul li span.ye p {
	font: 16px/2 "Microsoft YaHei";
	color: #333;
	text-align: center;
}

.paystyle ul li span.ye em {
	display: block;
	font: 24px/40px "Microsoft YaHei";
	color: #ff880a;
	text-align: center;
}


/* ----------���ȷ��---------- */


/* ����˺� */

table.banklist {
	float: left;
	width: 800px;
	font: 14px "Microsoft YaHei";
	color: #666;
	border-collapse: collapse;
}

table.banklist th,
table.banklist td {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px #ddd solid;
}

table.banklist th {
	font-weight: bold;
}

table.banklist tr:hover .yhzh {
	font: 20px/50px "Microsoft YaHei";
	color: #ff1213;
}

.gs {
	background-position: 35px 0;
}

.js {
	background-position: 35px -50px;
}

.zg {
	background-position: 35px -200px;
}

.ny {
	background-position: 35px -100px;
}

.zs {
	background-position: 35px -150px;
}

.jt {
	background-position: 35px -250px;
}

.yz {
	background-position: 35px -300px;
}

.cs {
	background-position: 35px -950px;
}

.nc {
	background-position: 35px -1000px;
}


/* ���ȷ��*/

.hkqr {
	width: 600px;
	margin: 30px auto 0;
	font: 14px/35px "Microsoft YaHei";
	color: #666;
}

.hkqr p {
	margin-bottom: 15px;
}

.hkqr label {
	display: inline-block;
	width: 100px;
}

.hkqr p input {
	height: 33px;
	width: 358px;
	padding: 0 20px;
	border: 1px #ddd solid;
}

.hkqr p textarea {
	padding: 10px;
	width: 378px;
	height: 160px;
	border: 1px #ddd solid;
	vertical-align: top;
}

.button {
	display: block;
	margin: 20px auto;
	width: 190px;
	height: 50px;
	background: #ff880a;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.button:hover {
	background: #ff7d0a;
	border: none;
}

.hkqr p em {
	float: right;
	margin-right: 100px;
	font: 12px/17px "Microsoft YaHei";
	color: #ff1213;
}


/* ----------��ֹ���---------- */

ul.jf-lq,
ul.jf-dh {
	margin: 30px auto;
	width: 904px;
}

ul.jf-lq li,
ul.jf-dh li {
	float: left;
	width: 260px;
	height: 170px;
	padding: 40px 0 0 40px;
	margin: 0 -1px -1px 0;
	border: 1px #eee solid;
}

ul.jf-lq li:hover,
ul.jf-dh li:hover {
	background: #fcfcfc;
}

ul.jf-lq li i,
ul.jf-dh li i {
	float: left;
	width: 70px;
	height: 70px;
}

ul.jf-lq li i.lq-0 {
	background-position: 0 -1770px;
}

ul.jf-lq li i.lq-1 {
	background-position: -70px -1770px;
}

ul.jf-lq li i.lq-2 {
	background-position: -140px -1770px;
}

ul.jf-lq li i.lq-3 {
	background-position: -210px -1770px;
}

ul.jf-dh li i.dh-0 {
	background-position: 0 -1840px;
}

ul.jf-lq li span,
ul.jf-dh li span {
	float: right;
	padding-right: 40px;
	width: 125px;
}

ul.jf-lq li span h3,
ul.jf-dh li span h3 {
	font-weight: normal;
	font-size: 16px;
}

ul.jf-lq li span p,
ul.jf-dh li span p {
	margin: 10px 0;
	font-size: 12px;
	color: #999;
}

ul.jf-lq li span p.txt {
	height: 35px;
}

ul.jf-dh li span p.txt {
	height: 52px;
}

ul.jf-lq li span p strong {
	color: #FF880A;
	font-weight: normal;
}

ul.jf-lq li span a,
ul.jf-dh li span a {
	display: block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px #ddd solid;
	border-radius: 3px;
}

ul.jf-lq li:hover span a,
ul.jf-dh li:hover span a {
	background: #FF880A;
	border-color: #FF880A;
	color: #fff;
}

ul.jf-lq li span a.did {
	background: #f2f2f2;
	border-color: #ddd;
	color: #999;
}


/* ----------�����ϸ---------- */

#logmoney>ul {
	display: none;
}

table.mingxi {
	margin: 0 3% 20px;
	width: 94%;
	border-collapse: collapse;
}

table.mingxi th {
	font: 12px/40px "����";
	color: #333;
}

.text-l {
	text-align: left;
}

table.mingxi td {
	height: 49px;
	font: 14px/1.5 "Microsoft YaHei";
	text-align: center;
	color: #333;
}

table.mingxi td.time {
	position: relative;
	color: #999;
}

table.mingxi td.time::before {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	height: 49px;
	width: 11px;
	content: "";
	background-position: -165px -635px;
}

table.mingxi td.time span {
	display: block;
	margin-left: 30px;
	height: 30px;
	width: 150px;
	line-height: 30px;
	text-align: center;
	border: 1px #ddd solid;
	border-radius: 5px;
}

table.mingxi td.time span::before {
	display: block;
	position: absolute;
	top: 50%;
	left: 18px;
	margin-top: -6px;
	width: 0;
	height: 0;
	content: "";
	border: 6px #ddd solid;
	border-color: transparent #ddd transparent transparent;
}

table.mingxi td.time span::after {
	display: block;
	position: absolute;
	top: 50%;
	left: 19px;
	margin-top: -6px;
	width: 0;
	height: 0;
	content: "";
	border: 6px #fff solid;
	border-color: transparent #fff transparent transparent;
}

table.mingxi td.bianhua {
	padding: 0 25px;
}


/* ----------ѧϰ��¼---------- */

#xxjl>ul {
	display: none;
}

.notes-box {
	margin-left: 20px;
	padding-bottom: 25px;
	border-left: 2px #eee solid;
}

.notes-box .up-section {
	padding-left: 40px;
	margin: 0 0 5px -10px;
	height: 22px;
	line-height: 22px;
	color: #666;
	background-position: -425px -1724px;
}

.notes-box .up-section i {
	margin-right: 20px;
	font-size: 12px;
}

.notes-box .test-introduce {
	padding-left: 30px;
	overflow: hidden;
}

.notes-box .test-introduce .text {
	float: left;
	width: 80%;
}

.notes-box .test-introduce .text i {
	margin-right: 20px;
	color: #666;
	font-size: 12px;
}

.notes-box .test-introduce .text h3 {
	display: block;
	line-height: 30px;
	font-size: 15px;
	font-weight: normal;
}

.notes-box .test-introduce .result {
	float: right;
	width: 10%;
}

.notes-box .test-introduce .result i {
	display: block;
	color: #666;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}

.notes-box .test-introduce .result i b {
	color: #FF880A;
	font-weight: normal;
}

.notes-box .bottom-section {
	padding-left: 30px;
	margin-top: 10px;
	overflow: hidden;
}

.notes-box .bottom-section a {
	float: left;
	margin-right: 20px;
}

.notes-box .bottom-section a.delete {
	width: 20px;
	height: 25px;
	background-position: -414px -1770px;
}

.notes-box .bottom-section a.done {
	width: 100px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #ddd;
}

.notes-box .bottom-section a.again {
	width: 100px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border: 1px solid #379BE7;
	color: #379BE7;
}

.notes-box .bottom-section a.done:hover,
.notes-box .bottom-section a.again:hover {
	background: #379BE7;
	border: 1px solid #379BE7;
	color: #fff;
}


/* ----------��Ŀ����---------- */

#subject {
	margin-left: 20px;
}

.examinfo {
	float: left;
	margin: 0 22px 25px 0;
	padding: 20px;
	width: 158px;
	height: 100px;
	background: #fbfbfb;
	border: 1px #ddd solid;
}

.examinfo a.addexam {
	display: block;
}

.examinfo a.addexam i {
	display: block;
	margin: 20px auto 0;
	width: 30px;
	height: 30px;
	background-position: -190px -635px;
}

.examinfo a.addexam p {
	height: 30px;
	line-height: 30px;
}

.examinfo h3 {
	margin-top: 10px;
	border-bottom: 1px #eee solid;
	padding-bottom: 7px;
	font-weight: normal;
}

.examinfo-btn {
	margin-top: 15px;
}

.examinfo-btn a {
	margin-right: 1px;
	font-size: 12px;
	padding: 3px 3px;
	background: #fff;
	border: 1px #ddd solid;
	display: block;
	margin-bottom: 5px;
	width: 50px;
	float: left;
	margin-right: 15px;
	text-align: center;
}

.examinfo-btn a:hover,
.examinfo.base .examinfo-btn a:hover {
	border: 1px #379BE7 solid;
	background: #379BE7;
	color: #fff;
}

.examinfo.True {
	position: relative;
	background: #f1faff;
	border: 1px #c0deec solid;
}

.examinfo.True:after {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	content: "";
	width: 59px;
	height: 59px;
	background-position: -220px -635px;
}

.examinfo.True .examinfo-btn a {
	/*background:#999; color:#fff;*/
	border: 1px #999 solid;
}

.examinfo.IsPaymentTrue {
	position: relative;
	background: #f1faff;
	border: 1px #c0deec solid;
}

.examinfo.IsPaymentTrue:after {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	content: "";
	width: 59px;
	height: 59px;
	background-position: -310px -635px;
}

.examinfo.IsPaymentTrue .examinfo-btn a {
	/*background:#999; color:#fff;*/
	border: 1px #999 solid;
}


/* ----------�˻�����---------- */


/* ����Ϣ */

#editinfo>ul {
	display: none;
}

.jbxxForm {}

.jbxxForm label {
	display: inline-block;
	width: 100px;
	color: #333;
	margin-right: 25px;
	text-align: right;
	font: 14px/35px "Microsoft YaHei";
}

.userName {
	font: 18px "Microsoft YaHei";
	color: #333;
}

.jbxxForm p {
	margin-bottom: 15px;
	font: 14px "Microsoft YaHei";
	color: #333;
}

.sex_xz label {
	width: auto;
	margin-right: 10px;
}

.sel select {
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: center;
	color: #333;
}

.sel span {
	margin: 0 10px;
}

.jbxxForm p input.text {
	height: 33px;
	width: 260px;
	padding: 0 20px;
	border: 1px #ddd solid;
}

.jbxxForm p a {
	margin-left: 20px;
	color: #379BE7;
}

.jbxxForm p a:hover {
	text-decoration: underline;
}

.button-save {
	display: block;
	margin: 20px 0 0 125px;
	width: 190px;
	height: 50px;
	background: #ff880a;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.button-save:hover {
	background: #ff7d0a;
	border: none;
}


/* ͷ���ϴ� */

.container {
	float: left;
	width: 200px;
	margin: 40px 0 0 40px;
	position: relative;
	font-family: ΢���ź�;
	font-size: 12px;
}

.action {
	width: 400px;
	height: 30px;
	margin-top: 10px;
}

.crop {
	position: absolute;
	right: -120px;
	top: 60px;
}

.crop p {
	height: 20px;
	height: 30px;
	text-align: center;
	font: 12px/1 "Microsoft YaHei";
	color: #666;
}

.cropped {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
}

.imageBox {
	position: relative;
	height: 200px;
	width: 200px;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
}

.imageBox .thumbBox {
	position: absolute;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #333;
	text-align: center;
	line-height: 200px;
	background: rgba(230, 230, 230, 0.7);
}

.Btnsty_peyton {
	float: left;
	width: 62px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	margin-right: 7px;
	background-color: #eee;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	border: 1px #ddd solid;
}


/* ͷ��ѡ���ļ��ϴ�*/

.new-contentarea {
	overflow: hidden;
	position: relative;
}

.new-contentarea label {
	width: 100%;
	height: 100%;
	display: block;
}

.new-contentarea input[type=file] {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	top: 0;
	right/*\**/
	: 0px\9;
	margin-right/*\**/
	: 0px\9;
	width/*\**/
	: 10px\9;
	opacity: 0;
	cursor: pointer;
	filter: alpha(opacity=0);
	z-index: 2;
}

a.upload-img {
	display: block;
	width: 98px;
	margin-bottom: 30px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	color: #666;
	background: #eee;
	text-decoration: none;
	border: 1px #ddd solid;
}

a.upload-img:hover {
	background-color: #eee;
}

.tc {
	text-align: center;
}


/* ϵͳͷ��*/

.xttx {
	float: right;
	height: 300px;
	width: 400px;
	padding: 0 40px;
	margin-top: 40px;
	border-left: 1px #ddd solid;
}

.xttx p {
	height: 50px;
	font: 16px/2 "Microsoft YaHei";
	color: #333;
}

.xttx ul {
	margin-top: 10px;
}

.xttx ul li {
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 10px;
}

.xttx ul li input {
	display: none;
}

.xttx ul li.check-pic:after {
	position: absolute;
	top: -3px;
	right: -3px;
	content: "";
	width: 80px;
	height: 80px;
	border: 3px #ff8400 solid;
	border-radius: 50%;
}

.button-picsave {
	float: left;
	margin: 35px 0 0 40px;
	width: 190px;
	height: 50px;
	background: #ff880a;
	border-radius: 5px;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.button-picsave:hover {
	background: #ff7d0a;
	border: none;
}

.button-cancer {
	float: left;
	margin: 35px 0 0 20px;
	width: 190px;
	height: 50px;
	background: #eee;
	border-radius: 5px;
	border: none;
	color: #666;
	font-size: 16px;
	cursor: pointer;
}

.button-cancer:hover {
	color: #ff880a;
}


/* �������� */

.mmszForm {
	margin-top: 70px;
}

.mmszForm label {
	display: inline-block;
	width: 100px;
	color: #333;
	margin-right: 25px;
	text-align: right;
	font: 14px/50px "Microsoft YaHei";
}

.mmszForm p {
	margin-bottom: 20px;
	font: 12px "Microsoft YaHei";
	color: #666;
}

.mmszForm p input.text {
	height: 48px;
	width: 250px;
	margin-right: 30px;
	padding: 0 20px;
	border: 1px #ddd solid;
}


/* ��ȫ���� */

.aqwt {
	margin-top: 70px;
}

.aqwt p {
	margin-bottom: 15px;
}

.aqwt p label {
	display: inline-block;
	width: 100px;
	margin-right: 20px;
	text-align: right;
}

.aqwt p select {
	padding: 10px 20px;
}

.aqwt p.ans input {
	width: 300px;
	padding: 10px 20px;
}


/* ��ȫ���� */

.safeset {
	position: relative;
	margin: 20px 40px 30px;
	overflow: hidden;
}

.safeset i {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.safeset h3 {
	margin-top: 5px;
	line-height: 40px;
	font-size: 20px;
	font-weight: normal;
}

.safeset p {
	color: #666;
}

.change-passport i {
	background-position: 0 -2000px;
}

.change-email i {
	background-position: -85px -2000px;
}

.change-question i {
	background-position: -170px -2000px;
}

.change-phone i {
	background-position: -170px -2085px;
}

.safeset-btn {
	position: absolute;
	right: 160px;
	top: 23px;
	width: 80px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	font-size: 14px !important;
	line-height: 35px;
	background: #FF880A;
}

.safeset-btn:hover {
	background: #FF7D0A;
	color: #fff;
}


/* ----------�ҵ��ղ�---------- */

#favorite>ul {
	display: none;
	width: 920px;
}

.sc {
	margin-top: 10px;
}


/* .sc ul { height:505px; } */

.sc ul li {
	float: left;
	margin: 0 25px 30px 15px;
	width: 190px;
}

.sc ul li a {
	font: 14px/24px "Microsoft YaHei";
	color: #333;
}

.sc ul li span {
	position: relative;
	display: block;
	content: "";
	height: 90px;
	width: 190px;
}

.sc ul li span i {
	position: absolute;
	top: 10px;
	padding-left: 8px;
	width: 40px;
	font: 12px/16px "Microsoft YaHei";
	color: #fff;
}

.sc ul li span i:after {
	position: absolute;
	top: 0;
	right: 0px;
	display: block;
	content: "";
	width: 0px;
	height: 0px;
	border: 8px #fff solid;
	border-color: transparent #fff transparent transparent;
}

.sc ul li.shijuan span {
	background-position: 0 -1335px;
}

.sc ul li.timu span {
	background-position: -190px -1335px;
}

.sc ul li.wenzhang span {
	background-position: 0 -1430px;
}

.sc ul li.ziliao span {
	background-position: -190px -1430px;
}

.sc ul li.shijuan span i {
	background-color: #eb7792;
}

.sc ul li.timu span i {
	background-color: #7188d3;
}

.sc ul li.wenzhang span i {
	background-color: #7fc89e;
}

.sc ul li.ziliao span i {
	background-color: #f5b562;
}

.page {
	font: 14px/30px "Microsoft YaHei";
	color: #6e6e6e;
	text-align: center;
	margin-top: 15px;
}

.page a,
.page label {
	padding: 4px 9px;
	margin: 0 2px;
	color: #6e6e6e;
}

.page a:hover {
	color: #379BE7;
}

.page span {
	padding: 4px 9px;
	margin: 0 2px;
	color: #379BE7;
	font-weight: bold;
	background: none !important;
}

.tm {
	margin-top: 80px;
}


/* ----------Ͷ�߽���---------- */

.tsjyForm {
	width: 600px;
	margin: 30px auto 0;
	font: 14px/35px "Microsoft YaHei";
	color: #666;
}

.tsjyForm p {
	margin-bottom: 15px;
}

.tsjyForm label {
	display: inline-block;
	width: 100px;
}

.tsjyForm p input {
	height: 33px;
	width: 358px;
	padding: 0 20px;
	border: 1px #ddd solid;
}

.tsjyForm p textarea {
	padding: 10px;
	width: 378px;
	height: 160px;
	border: 1px #ddd solid;
	vertical-align: top;
}


/* ----------�˺Ű�---------- */

#bind p {
	padding-left: 40px;
	font: 16px/1 "Microsoft YaHei";
	color: #333;
}

#bind ul {
	width: 920px;
	margin-top: 60px;
}

#bind ul li {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 80px 0 50px;
	background: #eee;
	border-radius: 50%;
}

#bind ul li a {
	display: block;
}

#bind ul li::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 100px;
	border-radius: 50%;
	height: 100px;
	transform: scale(0);
	transition: all 0.2s ease;
	background: #ddd;
	z-index: 0;
}

#bind ul li:hover::before {
	transform: scale(1);
}

#bind ul li span {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

#bind ul li span.qq,
#bind ul li:hover span.un-qq {
	background-position: 0 -1520px;
}

#bind ul li span.sina,
#bind ul li:hover span.un-sina {
	background-position: -100px -1520px;
}

#bind ul li span.bd,
#bind ul li:hover span.un-bd {
	background-position: -200px -1520px;
}

#bind ul li span.zfb,
#bind ul li:hover span.un-zfb {
	background-position: -300px -1520px;
}

#bind ul li span.un-qq {
	background-position: 0 -1620px;
}

#bind ul li span.un-sina {
	background-position: -100px -1620px;
}

#bind ul li span.un-bd {
	background-position: -200px -1620px;
}

#bind ul li span.un-zfb {
	background-position: -300px -1620px;
}

#bind ul li em {
	display: block;
	padding-top: 20px;
	text-align: center;
	color: #999;
	font: 16px/1 "Microsoft YaHei";
}

#bind ul li em span {
	height: 16px;
	background: none;
}
.table_ks {
	padding:20px;
}
.table_ks table {
	border-top:1px #ff880a solid;
	border-left:1px #ff880a solid;
	width:100%;
	
}
.table_ks table td {
	border-right:1px #f0f0f0 solid;
	border-bottom:1px #f0f0f0 solid;
	text-align: center;
	line-height:30px;
}
.bg-color3 {
	background:#ff880a;
	color: #fff;
	
}
.bg-gray {
	background:#f6f6f6;}
.bg-blue {
	color:#379be7;
}
.table_ks table td.bg-color3 {
	line-height: 34px;
	font-weight:bold;
}
.table_ks table td:last-child {
	border-right:1px #ff880a solid;
	
}
.table_ks table td.td_last {
	border-bottom:1px #ff880a solid;
}
